<header>
  <ul class="container-header">
    <li>
      <a class="cursor-pointer" [routerLink]="['']">
        <img src="/images/logo-ecommerce.png" loading="eager" width="100px" />
      </a>
    </li>
    <li>
      <ul class="user">
        <li>
          <span><b>Bem vindo(a),</b></span
          ><br />
          <span>Lucas Henrique</span>
          <span class="cursor-pointer" (click)="logout()" title="Sair"
            ><br /><b> Sair</b></span
          >
        </li>
        <li class="avatar">
          <div class="img">{{ "LH" }}</div>
        </li>
      </ul>
    </li>
  </ul>
</header>
