:host {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: #d0e2d7;
    color: #02306a;

    a {
      text-align: center;
      font-size: 0.80rem;
      font-weight: 600;
    }
  }
}
